<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-top">
  <a class="navbar-brand" >Welcome To My Movie App!</a>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/summary">Summary <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/enquiry">Enquiry</a>
      </li>
      
      <li class="nav-item" *ngIf="AdminService.loggedIn">
        <a class="nav-link" routerLink="/enquiry/list">My Enquiry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adminLogin">Login</a>
      </li>
      
      <li class="nav-item" *ngIf="AdminService.loggedIn">
        <a class="nav-link" (click)="logout()">logout</a>
      </li>
 
    </ul>    
  </div>
</nav>